<div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-white screen-left">
    <div class="text-center">
        <img src="/assets//img//logo.png" alt="AtlasLMS Logo" class="mb-3">
    </div>
</div>  
