.screen-left {
    background: url('/assets//img//bg-login.png') center center / cover no-repeat;
    position: relative;
}
    .screen-left::before {
        content: "";
        position: absolute;
        inset: 0;
    }
