@page "/not-found"

<div class="container text-center mt-5">
    <h1 class="display-1 text-danger">404</h1>
    <h2>¡Página no encontrada!</h2>
    <p>Lo sentimos, la página que buscas no existe o ha sido movida.</p>
    <NavLink href="/login" class="btn btn-primary mt-3">Volver al inicio</NavLink>
</div>