.layout {
    display: flex;
    height: 100vh;
    background: #f5f7fa;
}

.sidebar {
    position: relative;
    background-color: #0B4EA2;
    height: 100vh;
    width: 260px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}
    .sidebar.collapsed {
        width: 70px;
    }

.sidebar-header {
    flex-shrink: 0;
    padding: 0.5rem;
}

.sidebar-content {
    flex-grow: 1;
    overflow: hidden;
}


.menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

    .menu li {
        padding: 20px, 0;
        text-align: center;
        font-size: 1.4rem;
        cursor: pointer;
        margin: 5px
    }

        .menu li:hover {
            background: rgba(255, 255, 255, 0.1);
        }

.content {
    flex: 1;
    padding: 40px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 5px 14px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: background 0.2s;
}

    .nav-item i {
        width: 24px;
        text-align: center;
    }

    .nav-item span {
        flex: 1;
    }
