.atlas-auth-page {
    height: 100vh;
    width: 100%;
    background-image: url('/assets/img/atlas-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.auth-card {
    width: 600px;
}
